<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>40000</particles>
  <batches>150</batches>
  <inactive>30</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-0.63 -0.63 -1 0.63 0.63 1</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <seed>1</seed>
</settings>
