<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>5000</particles>
  <batches>80</batches>
  <inactive>25</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-54.0095 -54.0095 -100.0 54.0095 54.0095 100.0</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <temperature_method>nearest</temperature_method>
  <temperature_tolerance>400.0</temperature_tolerance>
</settings>
